@import "tailwindcss";

@theme {
  /* Brand */
  --color-primary: #E67C3A;
  --color-secondary: #E2AF4D;
  --color-accent: #F5D073;

  /* Neutrals */
  --color-ink: #35280B;
  --color-cream: #FEF2DD;
  --color-cream-2: #EDD9BE;

  /* UI */
  --color-surface: #ffffff;
  /* cards */
  --color-muted: #78716c;
}